<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["Inter", "sans-serif"],
            },
          },
        },
      };
    </script>
    <title>About</title>
  </head>
  <body>
    <div class="text-center bg-gray-50 text-gray-800 py-20 px-6">
      <h1 class="text-5xl font-bold mt-0 mb-6">Electron-Products</h1>
      <p class="text-gray-500">
        To start using this app, press Ctrl+N or click on the menu File->New
        Product, after adding a product you'll see it on the main window
      </p>
    </div>
    <div class="text-center">
      <h3 class="text-3xl font-bold mb-8">Made by:</h3>
      <img
        src="https://ramen-development.github.io/assets/img/vandel.jpg"
        class="rounded-full w-32 mb-4 mx-auto"
        alt="Avatar"
      />
      <h5 class="text-xl font-medium leading-tight mb-2">Ivan Orozco</h5>
      <p class="text-gray-500">Made for a school project using electron.js and tailwind-elements.</p>
    </div>
  </body>
</html>
